.sec_sp {
    margin-bottom: calc(3rem + 5.128vw)
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}
.letters-display .letter {
    border: 1px solid #ddd;
    padding: 15px;
    width: 80%;
    margin-bottom: 40px;
  }
  
  .letter h5 {
    margin-bottom: 15px;
  }
  
  .letter .timestamp {
    font-size: 0.8em;
    color: #666;
  }

  /* 모달 전체 스타일 */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
    }
    
    /* 모달 헤더 스타일 */
    .modal-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    }
    
    /* 모달 타이틀 스타일 */
    .modal-title {
    color: #333;
    font-size: 1.5em;
    }
    
    /* 모달 본문 스타일 */
    .modal-body {
        color: #333;
    padding: 20px;
    }
    
    /* 모달 폼 스타일 */
    .modal-body form {
    margin-top: 10px;
    }
    
    /* 모달 입력 필드 스타일 */
    .modal-body form .form-control {
    margin-bottom: 15px;
    }
    
    /* 모달 푸터 스타일 */
    .modal-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    }
    
    /* 모달 버튼 스타일 */
    .modal-footer .btn {
    margin-left: 10px;
    }
    
    /* 첫 번째 버튼 (일반적으로 '닫기' 버튼) 스타일 */
    .modal-footer .btn:first-child {
    background-color: #ccc;
    color: white;
    }
    
    /* 두 번째 버튼 (일반적으로 '제출' 버튼) 스타일 */
    .modal-footer .btn:nth-child(2) {
    background-color:     #f1cb71;
    color: white;
    }
    
    /* 버튼 호버 효과 */
    .modal-footer .btn:hover {
    opacity: 0.9;
    background-color:  rgb(188, 106, 5);
    }